## Notebook 3.3: Pandas and Gene Ontology

This notebook is associated with the following accompanied reading: 

+ Yandell, Mark, and Daniel Ence. 2012. “A Beginner’s Guide to Eukaryotic Genome Annotation.” Nature Reviews Genetics 13 (5): 329–42. https://doi.org/10.1038/nrg3174.


+ The Python Data Science Handbook **Chapter 3** https://jakevdp.github.io/PythonDataScienceHandbook/


+ NB: **You do not need to read Chapter 4 this week.**

## Learning objectives: 

By the end of this module you should be able to:

1. Create and load Pandas DataFrames. 
2. Index/select elements from a Pandas DataFrame.
3. Understand the difference between numpy arrays and pandas dataframes.

## Introduction to Pandas DataFrames

The pandas library is similar to numpy in that it contains a core object type, the `DataFrame`, and a set of functions for computing over axes of this object. Generally, DataFrames are easier to learn and understand than numpy arrays because they have labels, and so it can be easier to keep track of what you're doing, and because you can combine different datatypes (e.g., ints, floats, strings) together in a single DataFrame, whereas in numpy you usually work with just one dtype at a time. 

One way to think about Pandas DataFrames is that they are essentially a pretty wrapper around one or more numpy arrays, which put labels on the rows and columns, and allow you to index using row and column names instead of just indices. But Pandas does more than that as well, and provides many very useful functions for working with data in a table. 

For people who have used the R programming language before, and especially those who have primarily used it for statistics, Pandas will feel very familiar, since it creates a similar object to one of the core objects in R for holding table like data. Your reading provides many examples of interesting uses for Pandas. Again, this notebook is primarily meant to test your knowledge after finishing the reading.

### Loading pandas
Numpy and Pandas are often used together.

In [1]:
import pandas as pd
import numpy as np

### Creating DataFrames
You can create a Pandas DataFrame from scratch in a variety of ways. I find that the easiest way is to use a Python dictionary to enter key/value pairs to the `pd.DataFrame()` function. Remember from our earlier notebook that you can create a dictionary using curly brackets. Here we create a DataFrame by providing it a dictionary where the key is a string (this will become the column name) and the value is a numpy array of randomly generated values (this will become the data). Each key/pair in the dictionary is written on a separate line to make it easier to read, but they are all surrounded by a single set of curly brackets, and so interpreted as a single dictionary. It is important that all of the data we enter is of the same length, since this will become the column data of the table. But, as you can see, it is OK that the data in each column is a different datatype, here we combine floats, strings, and ints. Pandas is also nice because it returns the table data in the output cell as a nicely formatted HTML table. Scroll your cursor over the table and you can see that cells light up as you highlight them. It's nice.

In [2]:
# create an array with randomly generated values 
df = pd.DataFrame({
    "column1": np.random.normal(0, 1, 10),
    "column2": np.random.choice(list("ACGT"), 10), 
    "column3": np.random.randint(0, 5, 10),
})

# return the dataframe
df

    column1 column2  column3
0  1.633686       T        4
1  0.071054       G        4
2 -0.201375       T        0
3  0.461895       A        3
4 -1.480207       G        2
5 -0.729692       C        0
6 -0.143699       A        4
7 -1.108858       G        2
8 -1.704039       A        1
9 -2.760000       A        1

### Indexing DataFrames
You can index DataFrames by their column or row names (row names are called the index in pandas), or by using numeric indices like in numpy.

In [3]:
# select columns by name in a dictionary-like way
df["column1"]

0    1.633686
1    0.071054
2   -0.201375
3    0.461895
4   -1.480207
5   -0.729692
6   -0.143699
7   -1.108858
8   -1.704039
9   -2.760000
Name: column1, dtype: float64

In [4]:
# select column by name in a simple object-like way
df.column1

0    1.633686
1    0.071054
2   -0.201375
3    0.461895
4   -1.480207
5   -0.729692
6   -0.143699
7   -1.108858
8   -1.704039
9   -2.760000
Name: column1, dtype: float64

In [5]:
# select column by name using fancy indexing
df.loc[:, "column1"]

0    1.633686
1    0.071054
2   -0.201375
3    0.461895
4   -1.480207
5   -0.729692
6   -0.143699
7   -1.108858
8   -1.704039
9   -2.760000
Name: column1, dtype: float64

In [6]:
# select column by index using fancy indexing
df.iloc[:, 0]

0    1.633686
1    0.071054
2   -0.201375
3    0.461895
4   -1.480207
5   -0.729692
6   -0.143699
7   -1.108858
8   -1.704039
9   -2.760000
Name: column1, dtype: float64

### Why so many ways to index?

+ The first dictionary-like way is nice since if you're familiar with dictionary objects then you can substitute dataframes in for these objects easily. 

+ The second object-like mode is fast to type and can be selected using tab-completion, so it's easy to view all the column choices in an object without having to print it; however in this mode you cannot select column names with odd characters in them like spaces since the column name is not wrapped in quotes. 

+ The third way of indexing, with `.loc[]` can combine selecting by both row and column names into a single call, so this very powerful and is generally the preferred method. 

+ The final way of indexing with `.iloc[]` is a nice alternative, but if you are using indices instead of row and column names then you're not really taking advantage of pandas that much, and you might be better off using numpy arrays since they're faster.

### Loading data files
Pandas has several functions for loading data from a variety of formats, but the most commonly used ones are `.read_csv()` or `read_table()`. You can provide a number of arguments to each function to tell it details of the file, such as what the delimiter is (e.g., tabs, spaces, commas), whether to skip the first N rows, whether to use the first row and column names, etc. You can use this function to load data files from a file path location on your hard disk, or, if you're connected to the internet, **you can even just provide it a url** of the location of a datafile that is publicly hosted online. 

We will practice by loading a GFF file, which we have seen before. We can load the yeast genome GFF file directly from the NCBI FTP site where it is hosted. For a quick reminder of the GFF file format [visit here](https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md). We provide the argument `comment="#"` below so it will skip the first few lines of the file that are not data but just comments, and we will enter in the column names by hand because it is easier than trying to parse them from the file in this case. 

The DataFrame object is saved as the variable `gff`, which we then show the first few lines of with the function of the dataframe object called `.head()`. This should sound familiar. Remember when we were learning bash scripting there was a function called `head` to print the first few lines of a file. Pandas is implementing that same idea as a function of dataframes. We want to just peek at the first few lines to make sure the data were loaded/parsed correctly.

In [7]:
# url to the GFF file on the NCBI FTP site
url = "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/fungi/Saccharomyces_cerevisiae/reference/GCF_000146045.2_R64/GCF_000146045.2_R64_genomic.gff.gz"

# read csv function with arguments to parse the file
gff = pd.read_csv(
    url, 
    sep="\t", 
    header=None,
    comment="#", 
    names=("seqname", "source", "feature", "start",
           "end", "score", "strand", "frame", "attribute"),
)

# return the dataframe
gff.head()

,seqname,source,feature,start,end,score,strand,frame,attribute
0,NC_001133.9,RefSeq,region,1,230218,.,+,.,ID=id0;Dbxref=taxon:559292;Name=I;chromosome=I...
1,NC_001133.9,RefSeq,telomere,1,801,.,-,.,ID=id1;Dbxref=SGD:S000028862;Note=TEL01L%3B Te...
2,NC_001133.9,RefSeq,origin_of_replication,707,776,.,+,.,ID=id2;Dbxref=SGD:S000121252;Note=ARS102~Auton...
3,NC_001133.9,RefSeq,gene,1807,2169,.,-,.,ID=gene0;Dbxref=GeneID:851229;Name=PAU8;end_ra...
4,NC_001133.9,RefSeq,mRNA,1807,2169,.,-,.,"ID=rna0;Parent=gene0;Dbxref=GeneID:851229,Genb..."

### Fancy indexing

Let's repeat the exercise we implemented in our first session of trying to select rows and columns from a table of data that fit some filtering criterion that we're interested in. Here, we will try to select all of the features in the GFF that are telomeres so we can extract their start and stop positions. This is *much* easier and nicer looking in Pandas than it is by using bash scripting.

In [8]:
# create a boolean mask of the feature column asking 'is it a telomere?'
mask = gff.feature == "telomere"

# show the first 10 values
mask.head(10)

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: feature, dtype: bool

In [9]:
# use this mask to select only rows that are telomeres
telomeres = gff[mask]

# return the first 10 value
telomeres.head()

,seqname,source,feature,start,end,score,strand,frame,attribute
1,NC_001133.9,RefSeq,telomere,1,801,.,-,.,ID=id1;Dbxref=SGD:S000028862;Note=TEL01L%3B Te...
432,NC_001133.9,RefSeq,telomere,229411,230218,.,+,.,ID=id133;Dbxref=SGD:S000028937;Note=TEL01R%3B ...
434,NC_001134.8,RefSeq,telomere,1,6608,.,-,.,ID=id135;Dbxref=SGD:S000028867;Note=TEL02L%3B ...
2257,NC_001134.8,RefSeq,telomere,812379,813184,.,+,.,ID=id649;Dbxref=SGD:S000028940;Note=TEL02R%3B ...
2259,NC_001135.5,RefSeq,telomere,1,1098,.,-,.,ID=id651;Dbxref=SGD:S000028871;Note=TEL03L%3B ...

In [10]:
# or, we could have written the above code more concisely as a single line:
gff[gff.feature == "telomere"].head()

,seqname,source,feature,start,end,score,strand,frame,attribute
1,NC_001133.9,RefSeq,telomere,1,801,.,-,.,ID=id1;Dbxref=SGD:S000028862;Note=TEL01L%3B Te...
432,NC_001133.9,RefSeq,telomere,229411,230218,.,+,.,ID=id133;Dbxref=SGD:S000028937;Note=TEL01R%3B ...
434,NC_001134.8,RefSeq,telomere,1,6608,.,-,.,ID=id135;Dbxref=SGD:S000028867;Note=TEL02L%3B ...
2257,NC_001134.8,RefSeq,telomere,812379,813184,.,+,.,ID=id649;Dbxref=SGD:S000028940;Note=TEL02R%3B ...
2259,NC_001135.5,RefSeq,telomere,1,1098,.,-,.,ID=id651;Dbxref=SGD:S000028871;Note=TEL03L%3B ...

<div class="alert alert-success">
    <b>Action [13]:</b> 
    Using pandas count the number of genes in the yeast GFF DataFrame in code cell below. 
</div>

In [11]:
gff[gff.feature == "gene"].shape[0]

6427

### Parsing attributes from the GFF

As before, much of the data of the GFF file is in the final column called attributes. We can parse this information as with any type of string, by splitting on the delimiter in the text which is a semicolon. Let's try extracting the first ten genes and see what kind of information is in their attributes.

In [12]:
# select only gene rows
gff[gff.feature == "gene"].head(5)

,seqname,source,feature,start,end,score,strand,frame,attribute
3,NC_001133.9,RefSeq,gene,1807,2169,.,-,.,ID=gene0;Dbxref=GeneID:851229;Name=PAU8;end_ra...
7,NC_001133.9,RefSeq,gene,2480,2707,.,+,.,ID=gene1;Dbxref=GeneID:1466426;Name=YAL067W-A;...
11,NC_001133.9,RefSeq,gene,7235,9016,.,-,.,ID=gene2;Dbxref=GeneID:851230;Name=SEO1;end_ra...
16,NC_001133.9,RefSeq,gene,11565,11951,.,-,.,ID=gene3;Dbxref=GeneID:851232;Name=YAL065C;end...
20,NC_001133.9,RefSeq,gene,12046,12426,.,+,.,ID=gene4;Dbxref=GeneID:851233;Name=YAL064W-B;e...

In [13]:
# select attributes of those rows
gff[gff.feature == "gene"].attribute.head(5)

3     ID=gene0;Dbxref=GeneID:851229;Name=PAU8;end_ra...
7     ID=gene1;Dbxref=GeneID:1466426;Name=YAL067W-A;...
11    ID=gene2;Dbxref=GeneID:851230;Name=SEO1;end_ra...
16    ID=gene3;Dbxref=GeneID:851232;Name=YAL065C;end...
20    ID=gene4;Dbxref=GeneID:851233;Name=YAL064W-B;e...
Name: attribute, dtype: object

In [14]:
# split the string objects of those attribute rows
[i.split(";") for i in gff[gff.feature == "gene"].attribute.head(5)]

[['ID=gene0',
  'Dbxref=GeneID:851229',
  'Name=PAU8',
  'end_range=2169,.',
  'gbkey=Gene',
  'gene=PAU8',
  'gene_biotype=protein_coding',
  'locus_tag=YAL068C',
  'partial=true',
  'start_range=.,1807'],
 ['ID=gene1',
  'Dbxref=GeneID:1466426',
  'Name=YAL067W-A',
  'end_range=2707,.',
  'gbkey=Gene',
  'gene_biotype=protein_coding',
  'locus_tag=YAL067W-A',
  'partial=true',
  'start_range=.,2480'],
 ['ID=gene2',
  'Dbxref=GeneID:851230',
  'Name=SEO1',
  'end_range=9016,.',
  'gbkey=Gene',
  'gene=SEO1',
  'gene_biotype=protein_coding',
  'locus_tag=YAL067C',
  'partial=true',
  'start_range=.,7235'],
 ['ID=gene3',
  'Dbxref=GeneID:851232',
  'Name=YAL065C',
  'end_range=11951,.',
  'gbkey=Gene',
  'gene_biotype=protein_coding',
  'locus_tag=YAL065C',
  'partial=true',
  'start_range=.,11565'],
 ['ID=gene4',
  'Dbxref=GeneID:851233',
  'Name=YAL064W-B',
  'end_range=12426,.',
  'gbkey=Gene',
  'gene_biotype=protein_coding',
  'locus_tag=YAL064W-B',
  'partial=true',
  'start_range=.,12046']]

In [15]:
# save attributes above as a list for the first ten genes
attrs_lists = [i.split(";") for i in gff[gff.feature == "gene"].attribute.head(10)]

# iterate over each list in the list of lists
for attrs_list in attrs_lists:
    # iterate over each string in the list
    for attr in attrs_list:
        # if the first four string elements spell Name
        if attr[:4] == "Name":
            print(attr)

Name=PAU8
Name=YAL067W-A
Name=SEO1
Name=YAL065C
Name=YAL064W-B
Name=TDA8
Name=YAL064W
Name=YAL063C-A
Name=FLO9
Name=GDH3

<div class="alert alert-success">
    <b>Action [14]:</b> 
    Copy the code above into the cell below and modify it to try to select the "gene_biotype" of each of the first 20 genes in the DataFrame. 
</div>

In [24]:
# save attributes above as a list for the first ten genes
attrs_lists = [i.split(";") for i in gff[gff.feature == "gene"].attribute.head(10)]

# iterate over each list in the list of lists
for attrs_list in attrs_lists:
    # iterate over each string in the list
    for attr in attrs_list:
        
        # index the first 12 elements to match 'gene_biotype'
        if attr[:12] == "gene_biotype":
            print(attr)

gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding
gene_biotype=protein_coding

<div class="alert alert-success">
    Save and download this notebook as HTML to upload to courseworks.
</div>